/node_modules
/vendor
.git
.gitignore
.env
.env.*
.DS_Store
Dockerfile
.dockerignore
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.idea
.vscode
*.log 